/* shared style */
.tex-primary{
    color: rgba(78, 71, 255, 1);
}
.primary-btn{
    background-color: #4E47FF;
    font-weight: 900;
    font-size: 16px;
    color: #FFFFFF;
    padding: 12px 36px;
    border: none;
    border-radius: 5px;
}
.header{
    background-image: url(../Assets/Hero-bg.png);
}
.primary-btn:hover{
    background-color: chocolate;

}
nav{
    display: flex;
    justify-content: space-between;
    margin: 0px 150px 150px;
}
.nav-title{
    font-size: 34px;

}
nav ul li{
    list-style: none;
    align-items: center;

}
/* banner styles */
.banner-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.banner{
    text-align: center;
    color: rgba(37, 36, 50, 1);
    margin: 309px 267.5px 152px;

}
/* section style */
.action-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 116px 160px;
    
    
}

.section-title{
    font-weight: bold;
    font-size: 42px;
}
.section-description{
    color: #252432;
}
.section-image{
    width: 403px;
    height: 328px;
    border-radius: 48px;
    
}

/* users section style */
.text-center{
    text-align: center;
    padding: 50px;
    color: #252432;
}
.useres{
    background-color:slategrey ;
    margin: 50px 142px;
    border-radius: 10px;
}
.usere-container{
    display: flex;
    justify-content: space-around;
}
.title{
    font-weight: bold;
    font-size: 80px;
    color: rgba(78, 71, 255, 1);
}
.sub-title{
    font-weight: 20px;
    color: #000000;
}

.content-section{
    
   
    padding: 40px 20px;
    border-radius: 10px;
    display: flex;
    
}
.clouam-title{
    font-weight:bold;
    font-size: 97px;
}
.clouam-section{
    width: 50%;
    
}
.intup-section[type="text"]{
    height: 64px;
    border-radius: 5px;
    background-color: #FFFFFF;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
}
.intup-section-1{
    width: 200px;
    height: 20px;
    padding: 10px;
    margin: 20px;
}
.intup-section-2{
    width: 200px;
    height: 20px;
    padding: 10px;
    margin: 20px;
    
} 
/* footer style */
.content-footer{
    margin: 104px 200px;
    
    

}
.content-title{
    font-weight: 900;
    font-size: 100px;
    padding: 120px 65px;
    text-align: center;

}
.content-description{
    text-align: center;
}
footer{
    display: flex;
    align-items: center;
    
}

footer ul{
    display: flex;
    
}
footer ul li{
    list-style: none;
    margin: 20px;
    
    
}
footer li a{
    text-decoration: none;
    color: #8987A1;
    justify-content: space-around;
}

